{% extends "../base.html" %}

{% load cms_tags staticfiles menu_tags sekizai_tags %}

{% block body %}

<div class="content-section-1">

  <p class="x-background-text c-background-text">
    Представительство в Китае
  </p>

  <div class="x-background-triangle c-background-triangle" id="c-background-triangle-1">
      <svg viewBox="0 0 429 439">
        <defs>
            <filter x="-26.0%" y="-20.7%" width="152.0%" height="150.9%" id="filter">
                <feOffset result="shadowOffsetOuter1" dy="16"></feOffset>
                <feGaussianBlur result="shadowBlurOuter1" stdDeviation="26" in="shadowOffsetOuter1"></feGaussianBlur>
                <feColorMatrix values="0.01 0 0 0 0 0 0.04 0 0 0 0 0 0.05 0 0 0 0 0 0.1 0" in="shadowBlurOuter1"></feColorMatrix>
            </filter>
        </defs>
        <g filter="url(#filter)">
            <path d="M195.450075,48.5625 C205.825075,27.8125 222.646075,27.8125 233.021075,48.5625 L375.451075,333.4205 C385.825075,354.1705 375.434075,370.9915 352.234075,370.9915 L76.2370753,370.9915 C53.0400753,370.9915 42.6460753,354.1715 53.0210753,333.4205 L195.450075,48.5625 Z" id="path"></path>
        </g>
        <path fill="#fff" d="M195.450075,48.5625 C205.825075,27.8125 222.646075,27.8125 233.021075,48.5625 L375.451075,333.4205 C385.825075,354.1705 375.434075,370.9915 352.234075,370.9915 L76.2370753,370.9915 C53.0400753,370.9915 42.6460753,354.1715 53.0210753,333.4205 L195.450075,48.5625 Z" id="path"></path>
    </svg>
  </div>


  <div class="c-first-image">
    <div class="c-first-image--fill">

    </div>
    <div class="c-first-image--background background-1">

    </div>
  </div>

  <div class="c-container-first">


    <div class="c-container-first--inside">
      <h1 class="x-heading">
        Представительство в Китае
      </h1>
      <p class="x-description">
        — Представительство компании ChemPartners функционирует в Китае с 2005 года
      </p>
      <p class="x-paragraph c-paragraph">
        К Вашим услугам опытные местные иностранные специалисты представительства в Пекине, специализирующиеся на торговых, логистических, финансовых и юридических вопросах. Мы говорим на русском, английском и китайских языках. Мы помогаем нашим клиентам реализовывать планы в Китае быстрее, дешевле и комфортнее.
      </p>
      <div class="x-main-button" action="call-form">
        <p>Оставить заявку</p>
      </div>
    </div>
  </div>


  <div class="c-first-info">
    <p class="x-small-heading">Наши контакты</p>
    <p class="x-paragraph">
      Будем рады получить Ваши заявки и вопросы по электронной почте admin@chempartners.cn или телефону +86 10 58695218.
    </p>
  </div>
</div>

<div class="content-section-white">
  <p class="x-background-text c-background-text">
    Наши сервисы
  </p>

  <div class="c-container">
    <div class="x-heading-container">
      <h2 class="x-heading">
        Наши сервисы
      </h2>
      <p class="x-description">
        — Мы работаем в следующих областях:
      </p>
    </div>
    <div class="x-row">
      <div class="x-column-2">
        <p class="x-small-heading">Решение конфликтов</p>
        <p class="x-paragraph">
          Помощь в решении конфликтных ситуаций с китайскими контрагентами.
        </p>
        <p class="x-small-heading">Юридический аудит</p>
        <p class="x-paragraph">
          Юридический аудит контрактов заказчика с китайскими контрагентами.
        </p>
        <p class="x-small-heading">Открытие представительств</p>
        <p class="x-paragraph">
          Помощь в открытии представительств и организации совместных предприятий в Китае.
        </p>
        <p class="x-small-heading">Торговое финансирование</p>
        <p class="x-paragraph">
          Согласование схем торгового финансирования по новым сделкам клиента и оптимизация существующих.
        </p>
        <p class="x-small-heading">Дистрибьюция</p>
        <p class="x-paragraph">
          Продвижение и дистрибьюция товаров заказчика на китайском рынке.
        </p>
      </div>
      <div class="x-column-2">
        <p class="x-small-heading">Финансовый аудит</p>
        <p class="x-paragraph">
          Разработка юридических схем и финансовый аудит.
        </p>
        <p class="x-small-heading">Аудит поставщиков</p>
        <p class="x-paragraph">
          Аудит китайских производителей по международным, отраслевым стандартам качества (ISO 9001, ISO/TS 16949).
        </p>
        <p class="x-small-heading">Контроль качества</p>
        <p class="x-paragraph">
          Комплексные многоэтапные решения по контролю качества производимой в Китае продукции.
        </p>
        <p class="x-small-heading">Аутсоринг представительства</p>
        <p class="x-paragraph">
          Аутсорсинг функций иностранного представительства в Китае с офисом и штатом в центральном бизнес-центре Пекина.
        </p>

      </div>
    </div>
  </div>

</div>

<div class="contacts-section">
  <div class="x-background-hexagon" id="i-background-hexagon-2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 538.06 538.06"><defs><style>.cls-1{fill:none;stroke:#6597fc;stroke-miterlimit:10;stroke-width:30px;}</style></defs><title>Ресурс 1</title><g id="Слой_2" data-name="Слой 2"><g ><polygon class="cls-1" points="521.33 201.43 336.64 16.73 84.33 84.33 16.73 336.64 201.43 521.33 453.73 453.73 521.33 201.43"/></g></g></svg>
  </div>


  <div class="x-container">
    <div class="x-row">
      <div class="x-column-2">
        <h6 class="x-heading">Наши контакты</h6>
        <p class="x-description">— Мы всегда рады новым клиентам</p>
        <div class="x-secondary-button" action="call-form">
          <p>Оставить заявку</p>
        </div>
      </div>
      <div class="x-column-2">

        <div class="i-contacts-container">
          <div class="contacts--block">
            <p class="contacts--block--name">Телефон</p>
            <p class="contacts--block--content">+7 (4922) 77-77-77</p>
          </div>
          <div class="contacts--block">
            <p class="contacts--block--name">Почта</p>
            <p class="contacts--block--content">mail@mail.ru </p>
          </div>
          <div class="contacts--block">
            <p class="contacts--block--name">Российский офис</p>
            <p class="contacts--block--content">115054, Москва, Большой Строченовский переулок, дом 7</p>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

{% endblock %}
