.overlay-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1003;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &.active {
    display: flex;
  }

  .o-background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top right, $gradient_color_1, $gradient_color_2);
    opacity: 0.99;
  }

  .o-exit-container {
    position: absolute;
    right: 50px;
    top: 50px;
    padding-right: 40px;
    cursor: pointer;
    z-index: 1;

    .o-exit-text {
      color: #fff;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .line {
      position: absolute;
      right: 0;
      top: 7px;
      height: 1px;
      width: 30px;
      background: #fff;

      transform: rotate(45deg);

      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }

  .o-container {
    width: 100%;
    max-width: 1200px;
    position: relative;

  }


  .progress-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: #fff;

  }

  .progress-point {
    background: #F2F244;
    width: 5px;
    height: 5px;
    position: absolute;
    left: -1.5px;
    top: 0;
    border-radius: 30px;
  }

  .o-navigation-links {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: calc(50vh - 20px);
  }

  .o-nav-part {
    padding-left: 20px;
    padding-right: 20px;
  }

  .o-nav-link {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 6px;
    border: 1.5px solid rgba(255,255,255,0);
    opacity: 0.5;
    position: relative;

    transition: opacity 200ms;

    &:hover {
      //border-color: rgba(255,255,255,1);
      opacity: 1;
    }

    &.active {
      //border-color: rgba(255,255,255,1);
      //transform: translateX(20px);
      opacity:1;
    }

    &.active-link {
      color: #fff;
    }
  }

  .o-link {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: block;
    position: relative;
    opacity: .5;
    transition: opacity 200ms, padding 200ms;
    cursor: pointer;

    &::before {
      content: '';
      background: #fff;
      position: absolute;
      left: -30px;
      top: 50%;
      height: 1px;
      width: 20px;

      transition: all 200ms;
      transform: scaleX(0);
    }

    &:hover {
      opacity: 1;

      &::before {
        transform: scaleX(1);
      }
    }
  }

  @media screen and (max-width: 1050px) {
    .o-navigation-links {
      display: block;
      padding-top: 100px;
      overflow-y: scroll;
    }

    .o-nav-part {
      width: 100%;
      margin-bottom: 10px;
    }

    .o-nav-link, .o-link {
      width: 100%;
      text-align: center;
      display: block;
    }
  }

}
