.index-section-1 {
  position: relative;
  min-height: 100vh;
  padding-top: 110px;
  width: 100%;

  .i-background-text {
    @extend .x-background-text;
    left: 10%;
    top: 35vh;
  }

  .i-nav-background {
    position: absolute;
    left: 0;
    top: 120px;
    height: 15vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;

    .i-nav-background--white-fill {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      z-index: 1;
    }

    .i-nav-background--fill {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../assets/img/backgrounds/shanghai-1.jpg");
      background-size: cover;
      background-position: center;
      display: none;

      &.background-1 {
        background-image: url("../assets/img/backgrounds/shanghai-1.jpg");
      }

      &.background-2 {
        background-image: url("../assets/img/backgrounds/shanghai-2.jpg");
      }

      &.background-3 {
        background-image: url("../assets/img/backgrounds/port-1.jpg");
      }

      &.background-4 {
        background-image: url("../assets/img/backgrounds/chemical-raw-material.jpg");
      }

      &.active {
        display: block;
      }
    }


  }

  .i-header {
    left: 0;
    top: 0;
    font-weight: 500;
    z-index: 1;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
  }

  .i-navigation {
    position: absolute;
    left: 0;
    top: calc(120px + 20vh);
    min-height: 100%;
    width: 100%;
    display: flex;
    padding-left: 20px;

  }

  .i-nav-section {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    opacity:1;
    transition: opacity 200ms;
    align-items: flex-start;
    cursor: pointer;
    position: relative;

    &:hover {
      opacity: 1;

      .i-nav-button-text {
        transform: translateX(20px);
      }

      .i-nav-button-fill  {
        width: 100%;
      }

      .i-nav-button-fill-text {
        left: 20px;
      }

    }
  }

  .i-nav-section--line {
    content: "";
    background: #000;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100px;
  }

  .i-nav-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }

  .i-nav-heading-container {
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .i-nav-link {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: color 100ms;
    padding: 10px;
    text-align: left;
    //color: #fff;
    letter-spacing: 0px;

    //font-family: "Cormorant", sans-serif;

  }

  .i-nav-description {
    //color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
    letter-spacing: 1px;
    text-align: left;
    position: relative;
    min-height: 120px;
  }


  .i-nav-button {
    margin-left: 10px;
    position: relative;

  }

  .i-nav-button-fill {
    z-index: 0;
    background: $main_color;
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    transition: all ease-out 200ms;
    overflow: hidden;
    z-index: 1;
    max-width: 200px;
  }

  .i-nav-button-fill-text {
    position: absolute;
    left: 0px;
    top: calc(50% - 8px);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    transition: all ease-out 200ms;
  }


  .i-nav-button-text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #000;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    padding: 10px;
    padding-left: 0;
    z-index: 0;
    transition: all ease-out 200ms;
    transform: translateX(0);

  }

  .i-row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;

    .i-column {
      width: 50%;
      display: flex;
      justify-content: center;
    }

    .i-column-2-container {
      max-width: 400px;
    }
  }

  .i-heading {
    font-size: 54px;
    font-weight: 700;
    max-width: 400px;

    .i-indent {
      padding-left: 40px;
    }
  }

  .i-small-description {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
  }

  .i-main-description {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    position: relative;

    &::before {
      content: '';
      background: url("../assets/img/text_element.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -20px;
      top: -10px;
      width: 20px;
      height: 20px;
    }
  }

  @media screen and (min-width: 1600px) {

    .i-header {
      font-size: 30px;
    }

    .i-nav-link {
      font-size: 30px;
    }

    .i-nav-description {
      font-size: 18px;
      min-height: 200px;
    }

    .i-nav-background {
      top: 150px;
      height: 15vh;
    }

    .i-navigation {
      top: calc(150px + 25vh);
    }

    .i-nav-button-text {
      font-size: 18px;
    }

    .i-nav-button-fill-text {
      font-size: 14px;
      top: calc(50% - 9px);
    }

  }

  @media screen and (max-width: 1200px) {


    .i-navigation {
      top: 0;
      margin-top: calc(50px + 15vh);
      padding-left: 0;
      position: relative;
      display: flex;
      flex-wrap: wrap;
    }

    .i-nav-section {
      position: relative;
      width: 50%;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    .i-nav-section--line {
      display: none;
    }

    .i-nav-heading-container {
      height: auto;
      margin-bottom: 20px;
    }

    .i-nav-description {
      min-height: auto;
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 800px) {

    .i-nav-heading-container {
      height: auto;
      margin-bottom: 10px;
    }

    .i-nav-section {
      position: relative;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 50px;
    }

  }

  @media screen and (max-height: 500px) {

    .i-nav-background {
      height: 20vh;
    }
    .i-navigation {
      margin-top: calc(50px + 20vh);
    }
  }

}
